* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/27/15/12/geeks-2894621_1280.jpg);
    background-size: cover;
    position: relative;
}

h1, h2, .main-text {
    color: rgb(88, 88, 88);
}

h2 {
    font-size: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: black;
}

footer {
    margin: 50px auto;
    width: 50%; 
    position: relative;
    bottom: 0;
    color: lightcyan;
}

.container {
    margin: 50px auto;
    width: 50%; 
    height: 70%; 
    background-color: white;
    box-shadow: 6px 6px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.header-inner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.name-description {
    width: 300px;
}
.photo {
    background-image: url(https://avatars.githubusercontent.com/u/39646456?s=400&u=5214d584e6cbde46502d3cec1e8e854622e05f8c&v=4);
    background-size: cover;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    margin-right: 1rem;
}

.divider {
    width: 70%; 
    height: 2px; 
    background-color: rgb(88, 88, 88);
    margin-bottom: 1rem;
}

main {
    display: flex;
    margin-top: 30px;
}

aside {
    width: 30%;
}

.info {
    width: 70%; 
}

.main-text {
    font-size: 0.8rem;
}

.text-info {
    padding-bottom: 1.5rem;
}

.job-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.duties {
    list-style-type: disc;
    list-style-position: inside;
    padding: 1rem 0;
}

.code {
    display: flex;
    flex-direction: column;
}

.paragraf {
    padding-left: 0.5rem;
}
.paragraf-two {
    padding-left: 1.0rem;
}
.paragraf-three {
    padding-left: 1.5rem;
}


.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 50px;
}
